<div class="item">
	<span class="itemheader"><%= t('tutors_summary') %></span>

	<div>
		<div>
			<span class="field-desc"><%= t('name') %>:</span>
			<%= @tutor.name %> 
		</div>

		<div>
			<span class="field-desc"><%= t('position') %>:</span>
			<%= @tutor.position %>
		</div>

		<div>
			<span class="field-desc"><%= t('grade') %>:</span>
			<%= @tutor.grade %>
		</div>
	</div>

</div>