<%= javascript_include_tag "ext/lib/ux/treegrid/TreeGridSorter.js" %>
<%= javascript_include_tag "ext/lib/ux/treegrid/TreeGridColumnResizer.js" %>
<%= javascript_include_tag "ext/lib/ux/treegrid/TreeGridNodeUI.js" %>
<%= javascript_include_tag "ext/lib/ux/treegrid/TreeGridLoader.js" %>
<%= javascript_include_tag "ext/lib/ux/treegrid/TreeGridColumns.js" %>
<%= javascript_include_tag "ext/lib/ux/treegrid/TreeGrid.js" %>
<div id="courses-container"></div>
<script>

	var tree = new Ext.ux.tree.TreeGrid({
	        title: '<%= t("subjects_list") %>',
	        width: 600,
	        height: 400,
	        renderTo: Ext.get('courses-container'),
	        enableDD: false,
			tbar: [
				{ 
					text: "<%= t('add') %>", 
					iconCls: "add-icon", 
					menu: [
						{ 
							text: "<%= t('add_subject') %>", 
							iconCls: "subject-icon",
							handler: function() { subjectWindow.show(); } 
						},
						{ 
							text: "<%= t('add_course') %>", 
							iconCls: "group-icon",
							handler: function() { courseWindow.show(); } 
						}
					]
				},
				{ text: "<%= t('delete') %>", iconCls: "delete-icon", handler: deleteButtonHandler },
				{ text: "<%= t('edit') %>", iconCls: "edit-icon", handler: editButtonHandler }
			],
	        columns:[
			{
	            header: '<%= t("subject") %>',
	            dataIndex: 'name',
	            width: 230
	        },{
	            header: '<%= t("description") %>',
	            width: 100,
	            dataIndex: 'description',
	            align: 'center',
	            sortType: 'asFloat'
	        },{
				header: '<%= t("tutor") %>',
				dataIndex: 'tutorName'
			}],
			requestMethod: 'get',
	        dataUrl: '/courses.json'
	});
	
	var courseWindow = new Ext.Window({ 
		layout: 'form',
		title: "<%= t('course') %>",
		height: 250, 
		width: 300,
		resizable: false,
		closeAction: 'hide',
		items: [
			{ xtype: 'radio', fieldLabel: "<%= t('tutor') %>", name: 'userType' },
			{ xtype: 'textfield', fieldLabel: "<%= t('grade') %>", id: "tutor-grade-field" },
		],
		buttons: [
			{
				text: "<%= t('apply') %>",
				id: 'apply-btn',
				handler: addCourseHandler,
			},{
				text: "<%= t('update') %>",
				id: 'update-btn',
				handler: updateCourseHandler,
				hidden: true
			},{
				text: "<%= t('cancel') %>",
				handler: cancelCourseHandler
			}
		] 
	});
	
	var subjectWindow = new Ext.Window({
		layout: 'form',
		title: "<%= t('subject') %>",
		height: 150,
		width: 300,
		resizable: false,
		closeAction: 'hide',
		items: [
			{ xtype: 'textfield', fieldLabel: "<%= t('subject_name') %>", id: "subject-name-field" },
			{ xtype: 'textfield', fieldLabel: "<%= t('subject_desc') %>", id: "subject-desc-field" }
		],
		buttons: [
			{
				text: "<%= t('apply') %>",
				id: 'apply-btn',
				handler: addSubjectHandler,
			},{
				text: "<%= t('update') %>",
				id: 'update-btn',
				handler: updateSubjectHandler,
				hidden: true
			},{
				text: "<%= t('cancel') %>",
				handler: cancelSubjectHandler
			}
		]
	});
	
	function editButtonHandler() {
		
	}
	
	function deleteButtonHandler() {
		var node = tree.getSelectionModel().getSelectedNode();
		Ext.Ajax.request({
			method: 'delete',
			url: '/courses/' + node.id.slice(0, -1),
			params: {
				lol: 'hello'
			}
		});
	}
	
	function addSubjectHandler() {
		Ext.Ajax.request({
			method: 'post',
			url: '/courses',
			params: {
				name: subjectWindow.get('subject-name-field').getValue(),
				desc: subjectWindow.get('subject-desc-field').getValue()
			},
			success: function(response) {
				newId = response.responseText;
				parent = tree.getSelectionModel().getSelectedNode();
				if (parent == null) {
					parent = tree.getRootNode();
				}
				parent.appendChild(new Ext.tree.TreeNode({
					id: newId,
					name: subjectWindow.get('subject-name-field').getValue(),
					description: subjectWindow.get('subject-desc-field').getValue(),
					type: 'subject',
					iconCls: 'subject-icon'
				}));
				clearSubjectWindow();
			}
		});
	}
	
	function clearSubjectWindow() {
		subjectWindow.get("subject-name-field").setValue('');
		subjectWindow.get("subject-desc-field").setValue('');
		subjectWindow.hide();
	}
	
	function updateSubjectHandler() {
		subjectWindow.get('apply-btn').hide();
		subjectWindow.get('update-btn').show();
	}
	
	function cancelSubjectHandler() {
		clearSubjectWindow();
	}
	
	function addCourseHandler() {
		
	}
	
	function updateCourseHandler() {
		
	}
	
	function cancelCourseHandler() {
		
	}
	
	
</script>