<br />
<div>
	<a href="#" id="add-mark-btn" class="tryitbtn"><%= t('add_mark') %></a>
</div>

<div class="custom">
	<table id="marks-table">
		
		<th><%= t('name') %></th>
		<% 1.upto(@maxColsNum) { |i| %>
			<th><%= i %></th>
		<% } %>
		
		<% @students.each do |s| %>
			<tr>
				<td><%= s.profile.name %></td>
				<% s.profile.marks.where("course_id="+params[:id]).each do |m| %>
					<td><%= m.value %></td>
				<% end %>
			</tr>
		<% end %>
	</table>
</div>