<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<meta name="title" content="" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<title>ФКН. Электронный факультет.</title>
	
	<%= stylesheet_link_tag :all %>
	<link rel="stylesheet" type="text/css" href="/javascripts/ext/resources/css/ext-all.css" /> 
	
	<%= javascript_include_tag "ext/adapter/ext/ext-base.js" %>
	<%= javascript_include_tag "ext/ext-all-debug.js" %>
	<%= csrf_meta_tag %>
	<!--[if lte IE 6]><link rel="stylesheet" href="style_ie.css" type="text/css" media="screen, projection" /><![endif]-->
</head>

<body>

<div id="wrapper">

	<header id="header">
		<h1>CSF App</h1>
	</header><!-- #header-->

	<section id="middle">

		<div id="container">
			<div id="content">
				<%= yield %>
			</div><!-- #content-->
		</div><!-- #container-->

		<aside id="sideLeft">
			<%= link_to( t('user_management') , '/tree') %> <br />
			<%= link_to( t('course_management'), courses_path) %> <br />
			<%= link_to( t('marks_setup') , '/marks') %> <br />
			<%= link_to( t('log_in'), '/login') %>
		</aside><!-- #sideLeft -->

	</section><!-- #middle-->

</div><!-- #wrapper -->

<footer id="footer">
	<div id="copyright">
		<img src="/images/csflogo.jpg">
		<a href="https://github.com/Mehonoshin/CSF-Journal">
			<strong><%= t('copyright') %></strong>
		</a>
	</div>
</footer><!-- #footer -->

</body>
</html>